{% extends 'common/base.html' %}
{% load bootstrap4 %}
{% block site_content %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h2>Create Note</h2>
             <form action="{% url 'note_add' %}" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-success mb-5">Save</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}