{% extends 'common/base.html' %}
{% load bootstrap4 %}
{% block site_content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h1>Notes</h1>
        </div>
    </div>
    <div class="row">
        {% if object_list %}
            {% for note in object_list %}
                <div class="col-lg-3 mb-5">
                <div class="card">
                  <div class="card-header">
                    {{ note.title }}
                  </div>
                  <img class="card-img-top" src="{{ note.image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{ note.content }}</p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="{% url 'note_update' note.pk %}" class="btn btn-success mr-3">Edit</a>
                      <a href="{% url 'note_delete' note.pk %}" class="btn btn-danger">Delete</a>
                  </div>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col text-center">
                <h2>You have no notes.</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}