body {
    height: 100%;
    background-color: lightyellow;
}

nav.footer {
    color: rgba(0, 0, 0, .5)
}

nav {
    background-color: #FFB895;
}

.profile-image {
    width: 30%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    height: 100%;
}